html, body, .swiper-container, .swiper-slide {width: 100%;height:100%;}
body{font-size: 16px;line-height: 1.42857143}
.swiper-container{position: relative;}
.swiper-slide{background-repeat: no-repeat;background-position: center;background-size: cover;}
/* 版心居中*/
.container-md{width: 1040px;padding:0 20px;margin:auto;}
/*header*/
.header{z-index:10;position:absolute;top:0;left:0;width:100%;height: 49px;padding:15px 0;}
.logo-links{float: left}
.nav-links{float: right;line-height:49px;}
.nav-links li{float:left;position: relative}
.nav-links li a{color:#fff;padding:8px 20px;}
.nav-links li:hover .subnav{display: block}
/* 下拉列表 */
.subnav{display:none;position: absolute;top:49px;left:0;width:240px;background-color: #fff;line-height: normal;border-radius: 4px;} /*把继承过来的行高覆盖掉*/
.subnav li{width: 100%}
.subnav li a{display:block;padding:15px 20px 8px;color:#000}
.subnav li h2{line-height: 28.5px;}
.subnav:after{position:absolute;top:-12px;left:30px;display:block;content: "";width:0;height:0;border-width:6px;border-style:solid;border-color:transparent transparent #fff transparent;
}
/* 文字模块*/
.heading-wrap{z-index:10;position: absolute;left:0;top:50%;margin-top:-73px;width:100%;height:146px;}
.font-logo{font-size: 67px;line-height:1;color:#fff;font-family: Overpass, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;margin-bottom: 20px;}
.btn{display:inline-block;font-size: 22px;font-weight: bold;padding: 14px 26px;letter-spacing: .1em;border-radius: 6px;color:#fff;background: rgba(0,0,0,.6)}
.btn:hover{background: rgba(0,0,0,.8)}
/* 新闻模块 */
.news{z-index:10;position:absolute;bottom:0;left:0;width:100%;height: 22px;padding:10px;background: rgba(0,0,0,.4);}
.news a{color:#fff;}
.news .tip{float: left;padding:0 8px;background: linear-gradient(to bottom, #ec614f 0%, #ff2e2e 100%);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);border-radius: 4px;font-size:12px;color:#fff;}
.news .des{float: left;}
/* 四小图模块 整条左移3px把最左边的间距隐藏起来 */
.hero-promos{margin-left:-3px;margin-top:3px;}
.hero-promos .hero{float:left;width: 25%;height: 260px;background-repeat: no-repeat;background-position: center;background-size: cover;font-size: 24px;font-weight: 400;text-align: center;padding: 37px;box-sizing: border-box;border-left:3px solid #fff}
.hero-promos .hero a{color:#fff;}
/* 功能说明*/
.meta-link{width: 33.33%;float:left;padding:45px 0;font-size: 0}
.meta-link .icon{width:50px;height: 50px;margin-right:10px;display:inline-block;vertical-align:middle;background-repeat: no-repeat;background-position:center center;background-size: contain}
.meta-link .txt{display: inline-block;vertical-align:middle;font-size:16px;text-align: left}
.meta-link:nth-child(2){text-align: center}
.meta-link:nth-child(3){text-align: right}
/* 底部 */
.footer{padding:45px 0;border-top:1px solid #eee}
.footer-logo{float: left;width: 33.33%}
.footer-logo .logo img{width:160px;height: 37px;}
.footer-logo p{line-height: 36.8px;}
.footer-logo p a{color:#000}
.footer-list{float: right;width: 66.66%}
.footer-list dl{float: left;width:25%;line-height: 30px;font-size: 15px;padding-left:123px;box-sizing: border-box}
.footer-list dl dt{margin-bottom: 10px;font-weight: bold;font-size: 18px;}
/*版权*/
.copyRight{padding:45px 0;border-top:1px solid #eee}
.copy-left{float: left}
.copy-left p{font-size: 12px;color:#aaa;line-height: 2.3}
.copy-left p i{display:inline-block;vertical-align:middle;width:15px;height: 15px;background: url("https://mobike.com/cn/assets/themes/moby/img/beian-icon.png") no-repeat;background-size: cover}
.copy-right{float: right}
.copyRight img{margin: 0 10px;}

/* 手机端适配  =   媒体查询  PAD 1080px 手机640px*/
@media screen and (max-width:1080px){ /* 窗口的大小<1080*/
    .hero-promos .hero{width:50%;margin-bottom:3px;}
    .container-md{width: 100%;box-sizing: border-box}
    .nav-links{display: none}
    .footer-list dl{padding-left:61px}
}
@media screen and (max-width:640px){ /* 窗口的大小<640*/
    .hero-promos .hero{width:100%}
    .meta-link{width: 100%;padding:20px 0;}
    .meta-link:nth-child(2),.meta-link:nth-child(3){text-align: left}
    .footer-logo,.footer-list{width: 100%}
    .footer-logo{margin-bottom: 40px;}
    .footer-list dl{width: 50%;padding:0}
    .copy-left,.copy-right{float: none}
    .news{height: 45px;}
    .news .des{width: 83%}
}


